@charset "utf-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body {
    background-image: linear-gradient(to right, #9b0000, #c23535, #970d0d );
}

main {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #420000b9;
    width: 500px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: darkorange;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(138, 76, 0);
}

h2 {
    color: firebrick;
}

p {
    text-align: justify;
}

